
body {
    margin : 0;
}
#pontos {
    position : absolute;
    width : 100px;
    height : 50px;
    border-style : solid;
    border-color : #000000;
    border-width : 2px;
    padding : 5px;
    top : 50px;
    left : 0px;
}
    
#score {
    font-weight : bold;
    color : #FF0000;
}
    
#conteudo {
    position : absolute;
    width : 200px;
    height : 400px;
    background: black;
    top : 50px;
    left : 0px;
}
button {
    position : absolute;
}
    
.pixel {
    width : 18px;
    height : 18px;
    border: 1px solid gray;
    position : absolute;
}
    